<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 보통 패키지 명으로  -->
<mapper namespace="springboard.board.dao.BoardDAO">
	<select id="selectAll" resultType="kr.ac.kopo.board.vo.BoardVO">
		select * 
		from t_board
	</select>

	<select id="selectbyNo" parameterType="int"
		resultType="kr.ac.kopo.board.vo.BoardVO">
		select no,title,writer,content,reg_date as regDate, count
		from t_board
		where no = #{no}
	</select>
	
	
	<insert id="insert" parameterType="kr.ac.kopo.board.vo.BoardVO">
		insert into t_board(no, title, writer, content)
		values (seq_t_board_no.nextval, #{title}, #{writer}, #{content})	
	</insert>
	
	

</mapper>